#clockContainer{
    position: relative;
    /* relative in order to make the hr, min and sec hour responsive and steady */
    margin: auto;
    height: 32vw;
    width: 33vw;
    /* vw stands for view width and 40vw is 40% of the viewwidth of the screen */
    background: url(clock.png) no-repeat;
}
#hour, #minute, #second{
        position: absolute;
        background: black;
    border-radius: 10px;
    }
    #hour{
        width: 2%;
    height: 23%;
    top: 27%;
    left: 49%;
    opacity: 0.9;  
    transform-origin: bottom;
}
    #minute{
        width: 1.5%;
    height: 30%;
    top: 21%;
    left: 49.5%;
    opacity: 0.9;
    transform-origin: bottom;
    }
#second{width: 1%;
    height: 32%;
    top: 18%;
    left: 49.5%;
    opacity: 0.9;
transform-origin: bottom;
}